/* drie basisstijlregels om je te helpen */
:root {
  font-size: 100%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hier komt jouw css */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: black;
}

nav li {
  display: inline;
  padding: 20px;
  color: white;
  align-self: flex-end;
}

nav li h2{
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: coral;
}

nav li h2::first-letter {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif; 
}

.logo1 {
  font-size: 40%;
}

main {
  background-image: url(img/xit-bg.png);
  background-size: cover;
  background-position: center center;
  flex-grow: 1;
}


article h1{
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: coral;
}

article h1::first-letter {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif; 
}

.artcl2{
  text-align: center;
}

.parent{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


